#comments{
    z-index: 10;
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    left: 5px;
    right: 5px;
    top: 0px;
    display: grid;
    overflow-y: scroll;
    overflow-x: hidden;
}

#data{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
}

#comments span{
    display: block;
}

#comments .comment{
    text-decoration:none;
    text-align: left;
}

#comments .name{
    text-align: left;
    font-weight: bold;
}

#comments .date{
    font-size: small;
    text-align: left;
}
